<style>
    .add-item .layui-input-md {
        width:600px !important;
    }
    .add-item .layui-input-inline,.add-item .layui-input-md .layui-input {
        width:400px;
    }
    .add-item .layui-form-mid {
        padding:5px 0 !important;
    }
    .add-btn{
        margin-left:40px;
    }
    .item-submit {
        margin-top:50px;
    }

</style>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">
                        <form class="layui-form" lay-filter="demoForm">
                            <input type="hidden" name="_method" value="PUT" />
                            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">基本信息</li>
                                    <li>所获荣誉</li>
                                    <li>参与项目</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <!--基本信息-->
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">姓名</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="name" value="{$Designer.name}" lay-verify="required|title" autocomplete="off" placeholder="输入设计师姓名" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">职位</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="positions" value="{$Designer.positions}" lay-verify="required|title" autocomplete="off" placeholder="输入设计师职位" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">标签</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="labels" value="{$Designer.labels}" lay-verify="required|l_title" autocomplete="off" placeholder="输入设计师标签" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">简介</label>
                                            <div class="layui-input-block">
                                                <textarea placeholder="输入设计师简介" name="info" lay-verify="required|info" class="layui-textarea">{$Designer.info}</textarea>
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-md">
                                            <label class="layui-form-label">是否推荐</label>
                                            <div class="layui-input-block">
                                                <input type="checkbox"  name="recom" value="1" {$Designer.recom ?= 'checked'} lay-skin="switch" lay-text="是|否">
                                            </div>
                                        </div>

                                        <div class="layui-form-item layui-input-bg">
                                            <label class="layui-form-label">缩略图</label>
                                            <div class="layui-input-inline-upload">
                                                <ul class="upload-ul clearfix">
                                                    <li id="fileBox_WU_FILE0" class="thumbnailList uploadList" >
                                                        <div class="viewThumb">
                                                            <img src="{$Designer.thumbnail}" >
                                                        </div>
                                                    </li>
                                                    <li class="upload-pick">
                                                        <div class="webuploader-container clearfix" id="thumbnailUpload"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填(建议尺寸 300*346px)</div>
                                        </div>

                                        <div class="layui-form-item layui-input-bg">
                                            <label class="layui-form-label">展示图</label>
                                            <div class="layui-input-inline-upload">
                                                <ul class="upload-ul clearfix">
                                                    <li id="fileBox_WU_FILE1" class="thumbnailList uploadList" >
                                                        <div class="viewThumb">
                                                            <img src="{$Designer.img}" >
                                                        </div>
                                                    </li>
                                                    <li class="upload-pick">
                                                        <div class="webuploader-container clearfix" id="imgUpload"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">*必填(建议尺寸 400*650px)</div>
                                        </div>

                                        <div class="layui-form-item layui-input-md" >
                                            <label class="layui-form-label">履历说明</label>
                                            <div class="layui-input-block">
                                                <textarea id="editor" name="content">{:html_entity_decode($Designer.content)}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!--荣誉信息-->
                                    <div class="layui-tab-item add-item">
                                        {if condition="count($Honor)"}
                                            {volist name='Honor' id='h' key='hk'}
                                                <div class="layui-form-item layui-input-md">
                                                    <label class="layui-form-label">获得荣誉</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="honor[{$hk}][info]" value="{$h.info}" lay-verify="h_title" autocomplete="off" placeholder="输入设计师获得荣誉项" class="layui-input">
                                                    </div>
                                                    <input type="hidden" name="honor[{$hk}][id]" value="{$h.id}" class="oldId">
                                                    <div class="layui-form-mid layui-word-aux delHonor" lay-data="{$h.id}">
                                                        <button type="button" class="layui-btn  layui-btn-warm layui-btn-sm">
                                                            <i class="layui-icon">&#xe640;</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            {/volist}
                                        {else /}
                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">获得荣誉</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="honor[0][info]" lay-verify="h_title" autocomplete="off" placeholder="输入设计师获得荣誉项" class="layui-input">
                                                </div>
                                            </div>
                                        {/if}

                                        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm add-btn" id="addHonor">
                                            <i class="layui-icon">&#xe654;</i>  增加荣誉项
                                        </button>
                                    </div>

                                    <!--项目信息-->
                                    <div class="layui-tab-item add-item">
                                        {if condition="count($Project)"}
                                            {volist name='Project' id='p' key='pk'}
                                                <div class="layui-form-item layui-input-md">
                                                    <label class="layui-form-label">参与项目</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="projects[{$pk}][info]" value="{$p.info}" lay-verify="p_title" autocomplete="off" placeholder="输入设计师参与项目名称" class="layui-input">
                                                    </div>
                                                    <input type="hidden" name="projects[{$pk}][id]" value="{$p.id}" class="oldId">
                                                    <div class="layui-form-mid layui-word-aux delProject" lay-data="{$p.id}">
                                                        <button type="button" class="layui-btn  layui-btn-warm layui-btn-sm">
                                                            <i class="layui-icon">&#xe640;</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            {/volist}
                                        {else /}
                                            <div class="layui-form-item layui-input-md">
                                                <label class="layui-form-label">参与项目</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="projects[0][info]" lay-verify="p_title" autocomplete="off" placeholder="输入设计师参与项目名称" class="layui-input">
                                                </div>
                                            </div>
                                        {/if}

                                        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm add-btn" id="addProjects">
                                            <i class="layui-icon">&#xe654;</i>  增加参与项目
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--提交-->
                            <div class="layui-form-item item-submit">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="form_submit">立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--上传文件引入文件-->
{load href="/static/plugin/jquery/jquery-3.1.1.js" /}
{load href="/static/plugin/aoupload/css/globle.css" /}
{load href="/static/plugin/aoupload/js/webuploader.min.js" /}
{load href="/static/plugin/aoupload/js/singleUpload.js" /}
{load href="/static/plugin/kind/kind-all-min.js" /}

<script>
    layui.use(['form', 'layedit', 'laydate','route'], function() {
        var $ = layui.jquery,
            form = layui.form,
            route = layui.route,
            layer = layui.layer;

        form.render();

        //设置nav标题
        $("#navTitle").text(route.getRoute().name);

        //自定义验证规则
        form.verify({
            title: function(value) {
                if (value.length < 1 || value.length > 10) {
                    return '内容长度应在1-10个字符之间';
                }
            },
            h_title: function(value) {
                if (value.length > 40) {
                    return '所获荣誉项内容长度不得大于40个字符';
                }
            },
            p_title: function(value) {
                if (value.length > 40) {
                    return '参与项目内容长度不得大于40个字符';
                }
            },
            l_title: function(value) {
                if (value.length > 40) {
                    return '人物标签长度不得大于40个字符';
                }
            },
            info: function(value) {
                if (value.length > 250) {
                    return '人物简介长度不得大于250个字符';
                }
            },
        });

        /*荣誉操作*/
        var honorNum = 99;
        //添加荣誉信息
        $("#addHonor").click(function(){
            var honorInfo = $(['<div class="layui-form-item">',
                '<label class="layui-form-label">获得荣誉</label>',
                '<div class="layui-input-inline">',
                '<input type="text" name="honor['+honorNum+'][info]" lay-verify="required|h_title" autocomplete="off" placeholder="输入设计师获得荣誉项" class="layui-input">',
                '</div>',
                '<div class="layui-form-mid layui-word-aux delHonorAdd">',
                '<button type="button" class="layui-btn  layui-btn-danger layui-btn-sm">',
                '<i class="layui-icon">&#xe640;</i>',
                '</button>',
                '</div>',
                '</div>'].join(''));
            $(this).before(honorInfo);
            honorNum--;
        });
        //删除新增荣誉
        $(document).on("click",".delHonorAdd",function(){
            $(this).parent().remove();
        });
        //删除已有荣誉信息
        $(".delHonor").on("click",function(){
            delOld($(this),'确定删除该获得荣誉信息?',1)
        });


        /*项目操作*/
        var projectsNum = 99;
        //添加项目信息
        $("#addProjects").click(function(){
            var projectsInfo = $(['<div class="layui-form-item">',
                '<label class="layui-form-label">参与项目</label>',
                '<div class="layui-input-inline">',
                '<input type="text" name="projects['+projectsNum+'][info]" lay-verify="required|p_title" autocomplete="off" placeholder="输入设计师参与项目名称" class="layui-input">',
                '</div>',
                '<div class="layui-form-mid layui-word-aux delProjectsAdd">',
                '<button type="button" class="layui-btn  layui-btn-danger layui-btn-sm">',
                '<i class="layui-icon">&#xe640;</i>',
                '</button>',
                '</div>',
                '</div>'].join(''));
            $(this).before(projectsInfo);
            projectsNum--;
        });
        //删除新增项目
        $(document).on("click",".delProjectsAdd",function(){
            $(this).parent().remove();
        });
        //删除已有参项信息
        $(".delProject").on("click",function(){
            delOld($(this),'确定删除该参与项目信息?',2)
        });


        //监听提交
        form.on('submit(form_submit)', function(data) {
            if(!data.field.recom)
                data.field.recom = 0;

            $.post("/aoogi/designer/"+"{$Designer.id}",data.field,function(res){
                layer.msg(res.msg);
                if(res.url != "")
                    window.location.href="#"+res.url;
            });
            return false;
        });


        //规格、参数删除执行操作
        function delOld($this,msg,mode){
            var id = $this.parent().find(".oldId").val();
            var that = $this;
            layer.confirm(msg, {icon: 3, title:'提示'}, function(index){
                layer.close(index);
                $.post('/aoogi/designer/delSpec/'+id,{'_method':'DELETE','mode':mode},function(res){
                    if(res.code == 1)
                        that.parent().remove();
                    layer.msg(res.msg);
                    return false;
                });
            });
        }

    });
</script>

<script>

    //上传图片-缩略图
    $('#thumbnailUpload').diyUpload({
        buttonText : '',
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:120,
            height:120,
            quality:100,
            allowMagnify:true,
            crop:true,
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        swf:"/static/plugin/aoupload/Uploader.swf",
        //是否支持多文件上传
        multiple:false,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:true,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'/uploader',
        //最大上传的文件数量
        fileNumLimit:5,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:50000 * 1024,
        //自定义内容信息
        custom:{
            inputName:'thumbnail',
            //input加入ID，只适用于单个上传图片
            inputId:'thumbnail_img',
            //是否开启单图上传，true|false
            single:true
        },
        success:function( data ) {
            $("#fileBox_WU_FILE0").remove()
        },
        error:function( err ) { }
    });
    //上传图片-展示图
    $('#imgUpload').diyUpload({
        buttonText : '',
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:120,
            height:120,
            quality:100,
            allowMagnify:true,
            crop:true,
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        swf:"/static/plugin/aoupload/Uploader.swf",
        //是否支持多文件上传
        multiple:false,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:true,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'/uploader',
        //最大上传的文件数量
        fileNumLimit:5,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:50000 * 1024,
        //自定义内容信息
        custom:{
            inputName:'img',
            //input加入ID，只适用于单个上传图片
            inputId:'img_img',
            //是否开启单图上传，true|false
            single:true
        },
        success:function( data ) {
            $("#fileBox_WU_FILE1").remove()
        },
        error:function( err ) { }
    });

</script>
<script>
    //实例化KindEditor编辑器
    KindEditor.create($('#editor'), {
        items:['fontname','|','fontsize','|','forecolor','|','hilitecolor','|','bold','|','italic','|','underline','|','strikethrough','|','justifyleft','|','justifycenter','|','justifyright','|','justifyfull','|','insertorderedlist','|','insertunorderedlist','|','image',],
        allowImageRemote: false,
        basePath: '/static/plugin/kind/',
        themesPath: '/static/plugin/kind/themes/',
        pluginsPath: '/static/plugin/kind/plugins/',
        langPath: '/static/plugin/kind/lang/',
        uploadJson: '/uploader',
        filePostName: 'file',    //imgFile是编辑器中图片上传的默认表单域名称
        width: '100%',
        minHeight: 400,    //最小高度，不用写px单位
        resizeType: 0,     //2时可以拖动改变宽度和高度，1时只能改变高度，0时不能拖动。
        allowImageUpload: true,       //允许本地上传图片
        extraFileUploadParams: '',       //上传图片、Flash、视音频、文件时，支持添加别的参数一并传到服务器
        afterBlur: function () {
            //编辑器失去焦点时，同步编辑器中的内容到textarea，在异步提交内容的时候，必须写！否则textarea中的值是不会改变的
            this.sync();
        }

    });
</script>
