
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="#/aoogi/params/edit/1/1" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe642;</i>
                            <span>编辑</span>
                        </a>
                    </div>

                    <div class="layui-card-body">
                        <form class="layui-form" >


                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">介绍标题</label>
                                <div class="layui-input-block">
                                    <input type="text" readonly value="{$Params.title}" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text layui-input-md">
                                <label class="layui-form-label">企业简介</label>
                                <div class="layui-input-block">
                                    <textarea readonly class="layui-textarea" style="height:500px;">{$Params.content}</textarea>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate','route'], function() {
        var $ = layui.jquery,
            form = layui.form,
            route = layui.route,
            layer = layui.layer;

        //设置nav标题
        $("#navTitle").text(route.getRoute().name);

        form.render();

    });
</script>

