<!--引入头部文件-->
{include file="default/header" title="关于我们" keywords="合肥方科信息技术有限公司" active="about"}
			
			<!-- Content-->
			<div class="md-content">
				<!-- 简介-->
				<!-- Section-->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">about</h6>
									<h2 class="title-01__title">合肥方科信息技术有限公司</h2>
									<div>
										2007年虎扑获得晨兴资本A轮融资时，就曾在离岸投资中心英属维尔京群岛创立了公司Hoop SportsBVI，在当时这被解读为为境外上市搭建VIE架构。直到2016年，虎扑才真正在A股递交上市申请书。但上市之路并不顺利，曾想借壳ST亚星上市的虎扑，借壳失败后，在第二年主动撤回IPO申请。个中原因在于，虎扑对广告依赖过重，收入模式单一还直接导致，连续几年业绩波动较大，且经营活动现金流量净额和净利润的差异较大。实际上，早在2009年，应当时的电商热潮，虎扑曾推出“卡路里商城”，但在当时各家疯狂烧钱的模式下，卡路里商城早早夭折。2012年，虎扑将此前虎扑论坛的“鉴定中心”独立，孵化了具有导购及鉴别运动装备功能的“识货App”。
									</div>
									<div class="about-logo">
										<img src="/static/index/images/logo-img.png" />
									</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

				<!-- 核心理念-->
				<!-- Section-->
				<section class="md-section consult-background">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">core idea</h6>
									<h2 class="title-01__title">核心理念</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-cup"></i></div>
									<div>
										<h2 class="iconbox__title"><a>团结就是力量</a></h2>
										<div class="iconbox__description">
											产品MVP落地难道就是要研发出所有核心功能吗？其实这样的研发成本也不低，并不是最节约成本的做法，只要能拿着这个模型让用户完成核心流程体验即可。
										</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-crown"></i></div>
									<div>
										<h2 class="iconbox__title"><a>科技促进发展</a></h2>
										<div class="iconbox__description">
											产品研发投入成本包含人力成本、时间成本、物力财力等成本，产品MVP可设计极简产品原型，降低成本，避免前期投入成本过大，产品上线后用户并不买单的风险。
										</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-world"></i></div>
									<div>
										<h2 class="iconbox__title"><a>数据铸就能力</a></h2>
										<div class="iconbox__description">
											寻找种子用户体验MVP，快速验证产品是否能解决用户痛点，是如产品设想呢，还是有新的发现，均可记录并评估优化，验证及迭代成本也很低，帮助更好定位产品定位和用户需求。
										</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="ti-shine"></i></div>
									<div>
										<h2 class="iconbox__title"><a>服务护航成功</a></h2>
										<div class="iconbox__description">
											设想很丰满，如要验证产品，难道就必须研发出完整的产品吗？或者将产品的核心功能都研发出来？产品上线后用户就一定会为产品买单吗？
										</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 客户评论-->
				<!-- Section-->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">客户评价</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="consult-slide">
							
							<!-- carousel__element owl-carousel -->
							<div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>
								
								<!-- textbox -->
								<div class="textbox textbox__style-02">
									<div class="textbox__image"><a href="#"><img src="/static/index/images/avatars/1.jpg" alt=""/></a></div>
									<div class="textbox__body">
										<h2 class="textbox__title"><a>幸瑞物业管理有限公司</a></h2>
										<div class="textbox__description">
											在中国K12在线英语培训用户城市分布中可以看出，一线城市占39.7%,非一线城市占60.3%，随着新一代父母教育观念的与时俱进，越来越多的非一线城市家长对英语启蒙的重视程度越来越高
										</div>
											

											
									</div>
								</div><!-- End / textbox -->
								
								
								<!-- textbox -->
								<div class="textbox textbox__style-02">
									<div class="textbox__image"><a href="#"><img src="/static/index/images/avatars/2.jpg" alt=""/></a></div>
									<div class="textbox__body">
										<h2 class="textbox__title"><a href="#">国泰置业</a></h2>
										<div class="textbox__description">
											38%的家长曾为孩子报名过在线英语程，86%的受访者表示未来会为孩子 报名在线英语课程。 超九成家长希望通过K12在线英语教育提升孩子的口语能力，最希望孩子的口语达到“表达流利”的水平。
										</div>
											
									</div>
								</div><!-- End / textbox -->
								
								
								<!-- textbox -->
								<div class="textbox textbox__style-02">
									<div class="textbox__image"><a href="#"><img src="/static/index/images/avatars/3.jpg" alt=""/></a></div>
									<div class="textbox__body">
										<h2 class="textbox__title"><a>加侨置业投资集团</a></h2>
										<div class="textbox__description">
											2015年李克强总理提出“互联网+”行动计划，使得互联网与教育行业将会有更加紧密的结合。2016年元旦，中国正式实施“全面二孩”政策，这将为K12英语教育带来更多的潜在用户。
										</div>
											
									</div>
								</div><!-- End / textbox -->
								
								
								<!-- textbox -->
								<div class="textbox textbox__style-02">
									<div class="textbox__image"><a href="#"><img src="/static/index/images/avatars/4.jpg" alt=""/></a></div>
									<div class="textbox__body">
										<h2 class="textbox__title"><a href="#">绿地房地产开发有限公司</a></h2>
										<div class="textbox__description">
											现阶段受教育程度更高的80后、90后群体开始成为父母，未来的生育人群将有更高的受教育水平，更加了解教育的重要性，教育观念也更加开放和先进，未来的家长也必然更加重视子女的教育
										</div>
											
									</div>
								</div><!-- End / textbox -->
								
							</div><!-- End / carousel__element owl-carousel -->
							
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 团队-->
				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">精英团队</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
					<div class="consult-project">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><img src="/static/index/images/projects/v-1.jpg" alt=""/></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a>赵玉通</a></h2>
										<div class="post-02__department">智能化总工程师</div>
										<div class="post-02__content">
											<div class="post-02__description">
												比如我们想设计一款校园社交电商平台，专注于为大学生提供多块好省的消费体验，招募大学生成为合伙人，并构建合伙人会员体系，用户平台下单后由合伙人快速送货到寝。
											</div>
											<a class="post-02__link">清华大学</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><img src="/static/index/images/projects/v-2.jpg" alt=""/></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a>钱佩儒</a></h2>
										<div class="post-02__department">技术总顾问</div>
										<div class="post-02__content">
											<div class="post-02__description">
												平台模式设想很丰满，如若验证平台模式，难道就必须研发出完整的产品吗？或者将产品的核心功能都研发出来？产品上线后用户就一定会为产品买单吗？
											</div>
											<a class="post-02__link" href="#">中国科学技术大学</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><img src="/static/index/images/projects/v-3.jpg" alt=""/></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a>李兰溪</a></h2>
										<div class="post-02__department">设计总监</div>
										<div class="post-02__content">
											<div class="post-02__description">
												MVP最早是由《精益创业》中提到的概念，精益创业是硅谷流行的一种创业方法论，其核心思想是产品团队先制作最小可行性产品给有价值的用户使用，获取用户反馈并持续迭代优化产品，不断适应市场环境。
											</div>
											<a class="post-02__link">中央美院</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><img src="/static/index/images/projects/v-4.jpg" alt=""/></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a>沈成锦</a></h2>
										<div class="post-02__department">技术开发总监</div>
										<div class="post-02__content">
											<div class="post-02__description">
												如要设计一款医疗健康咨询类App，主要实现用户自助查询、公立医院医生在线解答用户的健康问题。如若要验证idea，不必等完整功能开发完成后再让用户及市场验证，可以设计MVP原型替代真实产品给用户体验。
											</div>
											<a class="post-02__link">中国科学技术大学</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}