<!--引入头部文件-->
{include file="default/header" title="关于我们" keywords="合肥方科信息技术有限公司" active="about"}
			
			<!-- Content-->
			<div class="md-content">
				<!-- 简介-->
				<!-- Section-->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">about</h6>
									<h2 class="title-01__title">{$About.com.title}</h2>
									<div>
										{:html_entity_decode($About.com.content)}</div>
									<div class="about-logo">
										<img src="{$About.img.0}" />
									</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

				<!-- 核心理念-->
				<!-- Section-->
				<section class="md-section consult-background">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">core idea</h6>
									<h2 class="title-01__title">核心理念</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							{volist name="$About.idea" id="e" key="k"}
							<div class="col-md-6 col-lg-3 ">
								<!-- iconbox -->
								<div class="iconbox iconbox__style-03">
									<div class="iconbox__icon"><i class="{if $k == 1}ti-cup{elseif $k == 2 /}ti-crown{elseif $k == 3 /}ti-world{else /}ti-shine{/if}"></i></div>
									<div>
										<h2 class="iconbox__title"><a>{$e.title}</a></h2>
										<div class="iconbox__description">
											{$e.content}
										</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							{/volist}

						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 客户评论-->
				<!-- Section-->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">客户评价</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="consult-slide">
							
							<!-- carousel__element owl-carousel -->
							<div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>

								{volist name="Discus" id="d"}
								<!-- textbox -->
								<div class="textbox textbox__style-02">
									<div class="textbox__image"><a><img src="{$d.img}" alt=""/></a></div>
									<div class="textbox__body">
										<h2 class="textbox__title"><a>{$d.title}</a></h2>
										<div class="textbox__description">
											{$d.content}
										</div>
											

											
									</div>
								</div>
								<!-- End / textbox -->
								{/volist}
								
							</div><!-- End / carousel__element owl-carousel -->
							
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 团队-->
				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">精英团队</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
					<div class="consult-project">
						<div class="row">
							{volist name="Team" id="t"}
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><img src="{$t.img}" alt=""/></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a>{$t.name}</a></h2>
										<div class="post-02__department">{$t.posts}</div>
										<div class="post-02__content">
											<div class="post-02__description">
												{$t.info}
											</div>
											<a class="post-02__link">{$t.school}</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							{/volist}
						</div>
					</div>
				</section>
				<!-- End / Section -->

			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}