<!--引入头部文件-->
{include file="default/header" title="最新动态" keywords="合肥方科信息技术有限公司" active="blog"}
			
			<!-- Content-->
			<div class="md-content">
				<div class="consult-postDetail">
					<div class="image-full"><img src="{$News.img}" alt=""></div>
					<div class="consult-postDetail"></div>
					<div class="container detail-container">
						<div class="consult-postDetail__main">
							
							<div class="row">
								<!--<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">-->
								<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 detail-content">
									<div class="consult-postDetail__content">
										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<h1>{$News.title}</h1>
												<ul class="consult-postDetail__meta">
													<li><i class="fa fa-user" aria-hidden="true"></i> {$News.author}</li>
													<li><i class="fa fa-tags" aria-hidden="true"></i>{$News.labels}</li>
													<!--<li><i class="fa fa-comments-o" aria-hidden="true"></i>数据采集</li>-->
													<li><i class="fa fa-calendar-o" aria-hidden="true"></i>{$News.create_time|date="Y-m-d"}</li>
												</ul>
											</div>
										</div>

										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												{:html_entity_decode($News.content)}
											</div>
										</div>



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Related Posts-->
				
			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}