<!--引入头部文件-->
{include file="default/header" title="最新动态" keywords="合肥方科信息技术有限公司" active="blog"}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- page-title -->
				<div class="page-title banner-blog" style="background:url('{$Banner.img}') no-repeat center center;background-size:100%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">{$Banner.title}</h2>
							</div>
						</div>
					</div>
				</div><!-- End / page-title -->
				
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						
						<!-- layout-blog sidebar-left -->
						<div class="layout-blog sidebar-left">
							<div class="layout-blog__content">

								<!--  -->
								{volist name="News" id="n"}
								<div class="post-01__style-02 md-text-center">
									<div class="post-01__media">
										<a href="/blog-detail/{$n.id}"><img src="{$n.thumbnail}" alt=""/></a>
									</div>
									<div>
										<ul class="post-01__categories">
											<li><a>{$n.create_time|date="Y-m-d"}</a></li>
										</ul>
										<h2 class="post-01__title"><a href="/blog-detail/{$n.id}">{$n.title}</a></h2>
										<div class="post-01__time">{$n.info}</div>
										<!--<div class="post-01__note">by Alice Brooks</div>-->
									</div>
								</div>
								{/volist}
								<!-- End /  -->

							</div>

							<!-- pagination -->
							<ul class="pagination">
								<a class="pagination__item" href="#">1</a>
								<a class="pagination__item" href="#">2</a>
								<a class="pagination__item" href="#">3</a>
								<span class="pagination__item active">4</span>
							</ul>
							<!-- End / pagination -->

						</div><!-- End / layout-blog sidebar-left -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}