<!--引入头部文件-->
{include file="default/header" title="最新动态" keywords="合肥方科信息技术有限公司" active="blog"}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- page-title -->
				<div class="page-title banner-blog">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">动态新知</h2>
							</div>
						</div>
					</div>
				</div><!-- End / page-title -->
				
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						
						<!-- layout-blog sidebar-left -->
						<div class="layout-blog sidebar-left">
							<div class="layout-blog__content">

								<!--  -->
								{for start="1" end="7" step="1"}
								<div class="post-01__style-02 md-text-center">
									<div class="post-01__media">
										<a href="blog-detail.html"><img src="/static/index/images/blogs/1.jpg" alt=""/></a>
									</div>
									<div>
										<ul class="post-01__categories">
											<li><a>2019-12-09</a></li>
										</ul>
										<h2 class="post-01__title"><a href="blog-detail.html">产品的成功基石：深入理解用户</a></h2>
										<div class="post-01__time">一款成功的产品，很大程度取决于用户。那么，了解用户、深入理解用户，就是产品的成功基石。 在开始讨论之前，我们不妨仔细思考一下： 我们在面对产品的规划、产品功能</div>
										<!--<div class="post-01__note">by Alice Brooks</div>-->
									</div>
								</div>
								{/for}
								<!-- End /  -->

								
								<!--  -->
								<!--<div class="post-01__style-02 md-text-center">
									<div class="post-01__media">

											&lt;!&ndash; video &ndash;&gt;
											<div class="video" data-init="video">
												<iframe src="https://www.youtube.com/embed/pX6nutvtDnI" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
												<div class="video-content">
													<div class="video-background" style="background-image: url(/static/index/images/blogs/2.jpg);"></div>
													<div class="video-inner">
														<div class="video-button"><i class="fa fa-play"></i></div>
													</div>
												</div>
											</div>&lt;!&ndash; End / video &ndash;&gt;

									</div>
									<div>
										<ul class="post-01__categories">
											<li><a href="#">Services</a></li>
										</ul>
										<h2 class="post-01__title"><a href="blog-detail.html">Design a Perfect Homepage</a></h2>
										<div class="post-01__time">Oct 28, 2017</div>
										<div class="post-01__note">by Cynthia Aguilar</div>
									</div>
								</div>

								<div class="post-01__style-02 md-text-center">
									<div class="post-01__media">
										<div><iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/308178330&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe></div>
									</div>
									<div>
										<ul class="post-01__categories">
											<li><a href="#">Business</a></li>
										</ul>
										<h2 class="post-01__title"><a href="blog-detail.html">How to Create and Manage SVG Sprites</a></h2>
										<div class="post-01__time">Oct 28, 2017</div>
										<div class="post-01__note">by Brandon Hanson</div>
									</div>
								</div>

								<div class="post-01__style-02 md-text-center">
									<div class="post-01__media">

										&lt;!&ndash; carousel__element owl-carousel &ndash;&gt;
										<div class="carousel__element owl-carousel" data-options="{items: 1, loop: true, nav: true, dots: false}">
											<div><img src="http://unsplash.it/400/300" alt=""/></div>
											<div><img src="http://unsplash.it/400/300" alt=""/></div>
										</div>&lt;!&ndash; End / carousel__element owl-carousel &ndash;&gt;

									</div>
									<div>
										<ul class="post-01__categories">
											<li><a href="#">Services</a></li>
										</ul>
										<h2 class="post-01__title"><a href="blog-detail.html">Getting Started with Vue.Js</a></h2>
										<div class="post-01__time">Oct 26, 2017</div>
										<div class="post-01__note">by Jose Snyder</div>
									</div>
								</div>-->
								<!-- End /  -->
							</div>

							<!-- pagination -->
							<ul class="pagination">
								<a class="pagination__item" href="#">1</a>
								<a class="pagination__item" href="#">2</a>
								<a class="pagination__item" href="#">3</a>
								<span class="pagination__item active">4</span>
							</ul>
							<!-- End / pagination -->

						</div><!-- End / layout-blog sidebar-left -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}