<!--引入头部文件-->
{include file="default/header" title="联系我们" keywords="合肥方科信息技术有限公司" active="contact"}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">联系我们</h2>
									<div>专注于为企业提供信息化管理、应用、实施方案解决措施，并在广州华南理工大学设有企业技术研发中心</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-email"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Email</a></h2>
										<div class="iconbox__description">service@fangke.com</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-location-pin"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">location</a></h2>
										<div class="iconbox__description">安徽省 . 合肥市 . 包河区<br>加侨国际广场A座22层</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-mobile"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Telephone</a></h2>
										<div class="iconbox__description">+86 0551-8521 8563</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
						
						<!-- form-01 -->
						<div class="form-01 consult-form js-consult-form__content" id="form01">
							<h2 class="form-01__title">告诉我们您的问题</h2>
							<form class="form-01__form">
								<div class="form__item form__item--03">
									<input type="text" name="name" placeholder="您的姓名..."/>
								</div>
								<div class="form__item form__item--03">
									<input type="text" name="phone" placeholder="您的联系方式..."/>
								</div>
								<div class="form__item form__item--03">
									<input type="text" name="company" placeholder="您的单位..."/>
								</div>
								<div class="form__item">
									<textarea rows="3" name="Your message" placeholder="告诉我们，我们有什么可以为您效劳的..."></textarea>
								</div>
								<div class="form__button"><a class="btn btn-primary btn-w180" href="#">发 送</a>
								</div>
							</form>
						</div><!-- End / form-01 -->
						
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-05">
									<h6 class="title-01__subTitle">Information</h6>
									<h2 class="title-01__title"><a class="clickScroll">Create Unlimited Simplicity</a></h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->


<!--引入加载footer文件-->
{include file="default/footer" /}