<!DOCTYPE html>
<html>
<head>
	<title>跑丢了</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="keywords" content="合肥方科信息技术有限公司" />
	<!-- Fonts-->
	{load href="/static/index/fonts/fontawesome/font-awesome.min.css" /}
	{load href="/static/index/fonts/themify-icons/themify-icons.css" /}
	<!-- Vendors-->
	{load href="/static/index/vendors/bootstrap4/bootstrap-grid.min.css" /}
	{load href="/static/index/vendors/magnific-popup/magnific-popup.min.css" /}
	{load href="/static/index/vendors/owl.carousel/owl.carousel.css" /}
	<!-- App & fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=latin-ext">
	{load href="/static/index/css/main.css" /}
	{load href="/static/index/css/style.css" /}  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

</head>

<body>
<div class="page-wrap">

	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="header__logo">
				<a href="/home.html">
					<img src="{$Header.8}" alt=""/>
				</a>
			</div>

			<!-- consult-nav -->
			<nav class="consult-nav">

				<!-- consult-menu -->
				<ul class="consult-menu">

					<li class="current-menu-item" ><a href="/home">Home</a></li>
					<li><a href="/about.html">关于我们</a></li>
					<li><a href="/service.html">服务内容</a></li>
					<li><a href="/project.html">合作项目</a></li>
					<li><a href="/blog.html">最新动态</a></li>
					<li><a href="/contact.html">联系我们</a>
					</li>
				</ul><!-- consult-menu -->

				<div class="navbar-toggle"><span></span><span></span><span></span></div>
			</nav><!-- End / consult-nav -->

		</div>
	</header><!-- End / header -->
						
			<!-- Content-->
			<div class="md-content">
				<div class="consult-404">
					<div class="md-tb">
						<div class="md-tb__cell">
							<div class="container">
								<div class="row">
									<div class="col-lg-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 ">
										<div class="consult-404__content"><img src="/static/index/images/404.jpg" alt="">
											<h1>404</h1>
											<h2>抱歉！我们无法找到您要访问的页面~~ </h2>
											<p>再去看看我们的其他内容吧！！！ <a href="/home.html">Home.</a> </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End / Content-->
		</div>
		<!-- Vendors-->
<!-- Vendors-->
{load href="/static/index/vendors/_jquery/jquery.min.js" /}
{load href="/static/index/vendors/imagesloaded/imagesloaded.pkgd.js" /}
{load href="/static/index/vendors/isotope-layout/isotope.pkgd.js" /}
{load href="/static/index/vendors/jquery.countdown/jquery.countdown.min.js" /}
{load href="/static/index/vendors/jquery.countTo/jquery.countTo.min.js" /}
{load href="/static/index/vendors/jquery.countUp/jquery.countup.min.js" /}
{load href="/static/index/vendors/jquery.matchHeight/jquery.matchHeight.min.js" /}
{load href="/static/index/vendors/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js" /}
{load href="/static/index/vendors/magnific-popup/jquery.magnific-popup.min.js" /}
{load href="/static/index/vendors/masonry-layout/masonry.pkgd.js" /}
{load href="/static/index/vendors/owl.carousel/owl.carousel.js" /}
{load href="/static/index/vendors/jquery.waypoints/jquery.waypoints.min.js" /}
{load href="/static/index/vendors/menu/menu.min.js" /}
{load href="/static/index/vendors/smoothscroll/SmoothScroll.min.js" /}
<!-- App-->
{load href="/static/index/js/main.js" /}
</body>
</html>