<!--引入头部文件-->
{include file="default/header" title="方科信息" keywords="合肥方科信息技术有限公司" home="current-menu-item" active="home"}
			
			<!-- Content-->
			<div class="md-content">

				<!-- Banner-->
				<!-- slider -->
				<div class="slider">
					
					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 4000, "animateOut":"fadeOut"}'>
						{volist name="Banner" id="b"}
						<div class="slider__item" style="background: url({$b.img}) no-repeat center center;background-size:cover;">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container">
											<h2>{$b.title}</h2>
											<p>{$b.info}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{/volist}
					</div><!-- End / carousel__element owl-carousel -->
					
				</div><!-- End / slider -->

				<!-- 我们-->
				<!-- Section -->
				<section class="md-section" style="background-color:#f7f7f7;padding:0;">
					<div class="container">
						<div class="textbox-group">
							<div class="row">
								{volist name="Who" id="w"}
									<div class="col-md-4 col-lg-4 ">
										<!-- textbox -->
										<div class="textbox">
											<div class="textbox__image"><a><img src="{$w.img}" alt=""/></a></div>
											<div class="textbox__body">
												<h2 class="textbox__title"><a>{$w.title}</a></h2>
												<div class="textbox__description">
													{$w.content}
												</div>
											</div>
										</div><!-- End / textbox -->

									</div>
								{/volist}
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

				<!-- 服务领域 -->
				<!-- Section -->
				<section class="md-section" style="background-color:#f7f7f7;padding-top:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">
								
								<!-- iconbox -->
								<div class="iconbox">
									<div class="iconbox__icon"><i class="ti-stack-overflow"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="service.html">{$Services.title}</a></h2>
										<div class="iconbox__description">
											{$Services.content}
										</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
						<div class="row">
							{volist name="ServicesLab" id="l" key="k"}
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="{if $k == 1}ti-layout-accordion-list{elseif $k == 2 /}ti-ruler-pencil{elseif $k == 3 /}ti-harddrives{else /}ti-briefcase{/if}"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="service.html">{$l.title}</a></h2>
										<div class="iconbox__description">
											{$l.content}
										</div>
									</div>
								</div><!-- End / iconbox -->
							</div>
							{/volist}
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 关于-->
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-03 md-text-left">
									<h6 class="title-01__subTitle">about</h6>
									<h2 class="title-01__title">{$About.com.title}</h2>
									<div>
										{$About.com.content}
									</div>
								</div><!-- End / title-01 -->
								
								<div class="row">
									{volist name="$About.lab" id="l"}
									<div class="col-sm-4 ">
										<!-- box-number -->
										<div class="box-number">
											<div class="box-number__number">
												<h2 class="js-counter" data-counter-time="2000" data-counter-delay="10">{$l.content}</h2>
											</div>
											<div class="box-number__description">{$l.title}</div>
										</div><!-- End / box-number -->
									</div>
									{/volist}
								</div>
							</div>
							<div class="col-lg-6 ">
								<div class="js-consult-slider">
									
									<!-- carousel__element owl-carousel -->
									<div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":30,"responsive":{"0":{"items":2},"576":{"items":3},"992":{"items":1}}}'>
										{volist name="$About.img" id="g"}
											<div class="image-full">
												<img src="{$g}" alt="">
											</div>
										{/volist}
									</div><!-- End / carousel__element owl-carousel -->
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 联系-->
				<!-- Section -->
				<section class="md-section md-skin-dark js-consult-form" style="background-image:url({$Tick});">
					<div class="md-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-02">
									<h2 class="title-01__title">我们的商务服务热线</h2>
									<div>我们期待用我们整个团队的智慧，为您的问题送上一份完美的答案 </div>
								</div><!-- End / title-01 -->
								
								<div class="consult-phone">(+86) {$Footer.12}</div>
							</div>
						</div>
						
						<!-- form-01 -->
						<div class="form-01 consult-form js-consult-form__content">
							<h2 class="form-01__title">告诉我们您的问题</h2>
							<form class="form-01__form" id="tickForm">
								<div class="form__item form__item--03">
									<input type="text" name="name" placeholder="您的姓名..."/>
								</div>
								<div class="form__item form__item--03">
									<input type="number" name="phone" placeholder="您的联系方式..."/>
								</div>
								<div class="form__item form__item--03">
									<input type="text" name="company" placeholder="您的单位..."/>
								</div>
								<div class="form__item">
									<textarea rows="3" name="content" placeholder="告诉我们，我们有什么可以为您效劳的..."></textarea>
								</div>
								<div class="form__button"><a class="btn btn-primary btn-w180 formButton" >发 送</a>
								</div>
							</form>
						</div><!-- End / form-01 -->
						
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 评论-->
				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01" style="margin-bottom:50px;">
									<h2 class="title-01__title">我们的客户评价</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="consult-slide">
							
							<!-- carousel__element owl-carousel -->
							<div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"992":{"items":2}}}'>

								{volist name="Discus" id="d"}
									<!-- testimonial -->
									<div class="testimonial">
										<div class="testimonial__info"><a class="testimonial__avatar"><img src="{$d.img}" alt=""/></a>
											<h5 class="testimonial__name">{$d.title}</h5>
											<!--<span class="testimonial__position">COO</span>-->
										</div>
										<div class="testimonial__content">
											<div class="testimonial__text">
												{$d.content}
											</div>
										</div>
									</div>
									<!-- End / testimonial -->
								{/volist}
								
								

								
							</div><!-- End / carousel__element owl-carousel -->
							
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 伙伴-->
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">合作伙伴</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						
						<!-- carousel__element owl-carousel -->
						<div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":2},"768":{"items":3},"992":{"items":5}}}'>
							{volist name="Partner" id="p"}
							<!--  -->
							<div>
								<div class="brand-01__image"><img src="{$p}" alt=""/></div>
							</div><!-- End /  -->
							{/volist}
							
							

							
						</div><!-- End / carousel__element owl-carousel -->
						
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- 动态 -->
				<!-- Section -->
				<section class="md-section consult-background">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">最新动态</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						
						<!-- carousel__element owl-carousel -->
						<div class="carousel__element owl-carousel" data-options='{"loop":false,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>

							{volist name="News" id="n"}
							<!--  -->
							<div>
								<div class="post-01__media"><a href="blog.html"><img src="{$n.thumbnail}" alt=""/></a>
								</div>
								<div>
									<ul class="post-01__categories">
										<li><a href="blog.html">{$n.create_time}</a></li>
									</ul>
									<h2 class="post-01__title"><a href="blog.html">{$n.title}</a></h2>
									<div class="post-01__time">
										{$n.info}
									</div>
								</div>
							</div>
							<!-- End /  -->
							{/volist}
							
						</div><!-- End / carousel__element owl-carousel -->
					</div>
				</section>
				<!-- End / Section -->
			</div>
			<!-- End / Content-->



<!--引入加载footer文件-->
{include file="default/footer" /}
<script>

    $(function(){

        $(".formButton").on("click",function(){
            var formData = $("#tickForm").serializeArray();
            $.post("/tick",formData,function(res){
                var tipInfo = $(['<div class="tip">'+res.msg+'</div>'].join(''));
                $('body').before(tipInfo);
                setTimeout(function () { $(".tip").remove() }, 2000);

				if(res.code == 1)
                	document.getElementById("tickForm").reset()
            });

        });

    });
</script>