<!DOCTYPE HTML>

<html>
	<head>
		<title>合肥方科信息技术有限公司</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/index/main/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/index/main/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/index/main/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/index/main/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>智慧-方科</h2>
							<p>信息   缔造无限简单<br />
							</p>
							<ul class="actions">
								<li><a href="/home" class="button special">Come In</a></li>
							</ul>
						</div>
					
					</section>
	
			</div>

		<!-- Scripts -->
			<script src="/static/index/main/js/jquery.min.js"></script>
			<script src="/static/index/main/js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="/static/index/main/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/index/main/js/main.js"></script>

	</body>
</html>