<!--引入头部文件-->
{include file="default/header" title="合作项目" keywords="合肥方科信息技术有限公司" active="project"}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- page-title -->
				<div class="page-title banner-project" style="background:url('{$Banner.img}') no-repeat center center;background-size:cover;">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">{$Banner.title}</h2>
							</div>
						</div>
					</div>
				</div><!-- End / page-title -->
				
				
				<!-- Section -->
				<section class="md-section  project-section">
					<div class="container">
						<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
							<div class="filter">
								<ul class="filter__list">
									<li><a href="#" data-filter="*">All</a></li>
									{volist name="Classify" id="c"}
									<li><a href="#" data-filter=".{$c.labels}">{$c.title}</a></li>
									{/volist}
								</ul>
							</div>
							<div class="grid__inner">
								<div class="grid-sizer"></div>
								{volist name="Case" id="e"}
								<div class="grid-item {$e.labels}">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- post-02 -->
											<div class="post-02">
												<div class="post-02__media"><a href="/project-detail/{$e.id}"><img src="{$e.thumbnail}" alt=""/></a></div>
												<div class="post-02__body">
													<h2 class="post-02__title"><a href="/project-detail/{$e.id}">{$e.title}</a></h2>
													<div class="post-02__department">{$e.address}</div>
												</div>
											</div><!-- End / post-02 -->
											
										</div>
									</div>
								</div>
								{/volist}
							</div>
						</div>
						<!--<div class="text-center"><a class="btn btn-primary btn-w180" href="#">Load more</a></div>-->
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}