<!--引入头部文件-->
{include file="default/header" title="合作项目" keywords="合肥方科信息技术有限公司" active="project"}
			
			<!-- Content-->
			<div class="md-content">
				<div class="consult-projectDetail">
					
					<div class=" owl-carousel consult-projectDetail__slider" style="display:block;">
						<div class="detail-img"><img src="{$Case.img}" alt=""></div>

					</div><!-- End / carousel__element owl-carousel -->
					
					<div class="container">
						<div class="consult-projectDetail__main detail-container">
							
							<div class="row">
								<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 detail-content">
									<div class="consult-projectDetail__content">
										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<h1>{$Case.title}</h1>
												<div class="row row-eq-height" style="margin-bottom:30px;">
													<div class="col-lg-6 ">
														
														<!-- infobox -->
														<div class="infobox">
															<h2 class="infobox__title"><a>Client</a></h2>
															<div class="infobox__description">{$Case.projects}</div>
														</div><!-- End / infobox -->
														
													</div>
													<div class="col-md-6 ">
														
														<!-- infobox -->
														<div class="infobox">
															<h2 class="infobox__title"><a href="#">date</a></h2>
															<div class="infobox__description">{$Case.create_time|date="Y-m-d"}</div>
														</div><!-- End / infobox -->
														
													</div>
													<div class="col-md-6 ">
														
														<!-- infobox -->
														<div class="infobox">
															<h2 class="infobox__title"><a href="#">Team</a></h2>
															<div class="infobox__description">{$Case.leader}</div>
														</div><!-- End / infobox -->
														
													</div>
													<div class="col-md-6 ">
														
														<!-- infobox -->
														<div class="infobox">
															<h2 class="infobox__title"><a href="#">Type</a></h2>
															<div class="infobox__description">{$Case.classify}</div>
														</div><!-- End / infobox -->
														
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												{:html_entity_decode($Case.content)}

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Related Posts-->
				
			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}