<!--引入头部文件-->
{include file="default/header" title="服务项目详情" keywords="合肥方科信息技术有限公司" active="service"}
			
			<!-- Content-->
			<div class="md-content">
				<div class="consult-projectDetail">

					<section class="md-section" style="background-color:#f7f7f7;">
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">

									<!-- iconbox -->
									<div class="iconbox">

										<div>
											<h2 class="iconbox__title service-title"><a>{$Services.title}</a></h2>
											<div class="iconbox__description">
												{$Services.info}
											</div>
										</div>
									</div><!-- End / iconbox -->

								</div>
							</div>
							<div class="row service-icon">
								{volist name="Labels" id="l"}
								<div class="col-sm-6 col-md-6 col-lg-3 ">

									<!-- iconbox -->
									<div class="iconbox iconbox__style-02">
										<div class="iconbox__icon"><i class="{$l.label_icon}"></i></div>
										<div>
											<h2 class="iconbox__title"><a>{$l.label_title}</a></h2>
											<div class="iconbox__description">
												{$l.label_info}
											</div>
										</div>
									</div><!-- End / iconbox -->

								</div>
								{/volist}


							</div>
						</div>
					</section>
					<!-- End / Section -->
					<div class="consult-postDetail"></div>
					<!-- Content-->
					<div class="container">
						<div class="consult-postDetail__main detail-container">

							<div class="row">
								<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
									<div class="consult-postDetail__content">
										{:html_entity_decode($Services.content)}

										<!--<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<h4>实名制考勤实现</h4>
												<p class="text">
													完美日记在小红书上采用了三段式的投放路径，首先与品牌明星和头部KOL合作，短时间内引发大量关注；接着大量投放产出精致深入内容的腰部KOL，通过试色、教程等图文视频内容，引发消费者种草和购买；最后通过购买产品后的素人在平台上分享使用体验，沉淀UGC内容，引发二次传播和声量叠加。
												</p>
											</div>
										</div>
										&lt;!&ndash;单图&ndash;&gt;
										<div class="image-full">
											<img src="/static/index/images/blogs/detail/2.jpg" alt="">
										</div>

										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<p class="text">
													在初期的投放中，KOL经常会提到完美日记是大牌同厂、大牌平替。完美日记的部分产品由韩国科丝美诗集团生产的，这家厂商也是Dior、YSL、雅诗兰黛等知名品牌化妆品的代工厂商。大牌同厂成为完美日记籍籍无名时期的品质背书，摆脱了国货彩妆平价低质的刻板印象。
												</p>
											</div>
										</div>

										&lt;!&ndash;滚动图&ndash;&gt;
										<div class="image-full">
											<div class="post-01__media">

												&lt;!&ndash; carousel__element owl-carousel &ndash;&gt;
												<div class="carousel__element owl-carousel" data-options="{items: 1, loop: true, nav: true, dots: false}">
													<div><img src="http://unsplash.it/400/300" alt=""/></div>
													<div><img src="http://unsplash.it/400/300" alt=""/></div>
												</div>&lt;!&ndash; End / carousel__element owl-carousel &ndash;&gt;

											</div>
										</div>

										&lt;!&ndash;文字&ndash;&gt;
										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<p class="text">
													完美日记的高明之处就在于不死磕品牌明星和头部KOL，而是广泛投放腰部和初级KOL。明星和头部KOL在扩大品牌声量上效果显著，但是对于转化而言成本高，灵活度不高。腰部和初级KOL相对成本较低、配合度高，且通过长期稳定运营，与粉丝建立了良好的信任感，意见更容易被潜在客户接受。
												</p>
											</div>
										</div>

										&lt;!&ndash;单排两张图&ndash;&gt;
										<div class="row">
											<div class="col-lg-6 ">
												<div class="image-full"><img src="/static/index/images/blogs/detail/4.jpg" alt=""></div>
											</div>
											<div class="col-lg-6 ">
												<div class="image-full"><img src="/static/index/images/blogs/detail/3.jpg" alt=""></div>
											</div>
										</div>

										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<p class="text">
													在初期的投放中，KOL经常会提到完美日记是大牌同厂、大牌平替。完美日记的部分产品由韩国科丝美诗集团生产的，这家厂商也是Dior、YSL、雅诗兰黛等知名品牌化妆品的代工厂商。大牌同厂成为完美日记籍籍无名时期的品质背书，摆脱了国货彩妆平价低质的刻板印象。
												</p>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-6 ">
												<div class="image-full"><img src="/static/index/images/blogs/detail/4.jpg" alt=""></div>
											</div>
											<div class="col-lg-6 ">
												<p class="text">
													在初期的投放中，KOL经常会提到完美日记是大牌同厂、大牌平替。完美日记的部分产品由韩国科丝美诗集团生产的，这家厂商也是Dior、YSL、雅诗兰黛等知名品牌化妆品的代工厂商。大牌同厂成为完美日记籍籍无名时期的品质背书，摆脱了国货彩妆平价低质的刻板印象。
												</p>
												<p class="text">
													在初期的投放中，KOL经常会提到完美日记是大牌同厂、大牌平替。完美日记的部分产品由韩国科丝美诗集团生产的，这家厂商也是Dior、YSL、雅诗兰黛等知名品牌化妆品的代工厂商。大牌同厂成为完美日记籍籍无名时期的品质背书，摆脱了国货彩妆平价低质的刻板印象。
												</p>
											</div>
										</div>

										<blockquote>
											<p>
												完美日记的美妆生产之初就被注入网红基因，极具话题性和传播度。
											</p>
										</blockquote>

										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<p class="text">
													当下，几乎所有的社交电商玩家几乎都在将流量看成是安身立命的本钱，穷尽一切方法去获得流量成为他们口中所谓的社交电商能够继续发展的关键。尽管流量对于社交电商如同它对于其他任何形式的电商同样重要，但是，如果仅仅只是漫无目的地获取流量，而不去关注这些流量需求的变化，所谓的社交电商依然是流量的买卖，同传统电商项目并无任何意义。
												</p>
											</div>
										</div>-->

									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- End / Content-->
				</div>
			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}