<!--引入头部文件-->
{include file="default/header" title="服务内容" keywords="合肥方科信息技术有限公司" active="service"}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- page-title -->
				<div class="page-title banner-service" style="background:url('{$Banner.img}') no-repeat center center;background-size:100%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">{$Banner.title}</h2>
							</div>
						</div>
					</div>
				</div><!-- End / page-title -->
				
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<!--<h2 class="title-01__title">信息化服务专业 <span>解决方案</span> 供应商</h2>-->
									<h2 class="title-01__title">{$Title.title}</h2>
									<div>{$Title.content}</div>
								</div>
								<!-- End / title-01 -->
								
							</div>
						</div>

						{volist name="Services" id="s" key="k" mod="2"}
						<!-- post-03 -->
						<div class="post-03 {eq name='mod' value='0'}post-03__reverse{/eq}">
							<div class="post-03__media">
								<a href="/service-detail/{$s.id}"><img src="{$s.thumbnail}" alt=""/></a>
							</div>
							<div class="post-03__body">
								<h6 class="post-03__subTitle">service 0{$k}</h6>
								<h2 class="post-03__title"><a href="/service-detail/{$s.id}">{$s.title}</a></h2>
								<div class="post-03__description">
									{$s.info}
								</div>
								<a class="post-03__link" href="/service-detail/{$s.id}">了解解决方案  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<!-- End / post-03 -->
						{/volist}


						
					</div>
				</section>
				<!-- End / Section -->

				
			</div>
			<!-- End / Content-->

<!--引入加载footer文件-->
{include file="default/footer" /}