<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">

                <div class="layui-card-body">
                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>

                    <div class="layui-card-header">
                        <div class="self-card-header">
                            <a href="#/aoogi/team/create" class="layui-btn layui-btn-sm">
                                <i class="layui-icon">&#xe654;</i>
                                <span>新增成员</span>
                            </a>
                        </div>
                    </div>

                    <div class="layui-card-body">
                        <!--表格主体-->
                        <table id="tableHash" lay-filter="tIndex"></table>

                        <!--操作控制-->
                        <script type="text/html" id="barHash">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-xs" lay-event="read">查看</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>

                        <!--展示图显示控制-->
                        <script type="text/html" id="setImg">
                            <img src="{{d.img}}" alt="" style="width:40px;height:35px;">
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    layui.config({
        base: '/static/admin/js/'
    }).use(['jquery', 'table', 'form','route'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            route = layui.route;

        //设置nav标题
        $("#navTitle").text(route.getRoute().name);

        //表格数据获取及定义
        var tableLoad = table.render({
            method: 'post',
            //size: 'sm',
            limit: 10,
            limits:[10,20],
            elem: '#tableHash',
            height: 'full-235',
            url: '/aoogi/team/data', //数据接口
            page: true, //开启分页
            cols: [
                [ //表头

                    {
                        type:'numbers',title:'序号',width:150
                    }, {
                        field: 'name', title: '姓名', align: 'center'
                    }, {
                        field: 'posts', title: '职位', align: 'center'
                    }, {
                        field: 'school', title: '毕业院校', align: 'center'
                    }, {
                        field: 'img', title: '展示图', align: 'center', templet:'#setImg'
                    }, {
                        field: 'sort', title: '排序', align: 'center'
                    }, {
                        field: 'info', title: '简介', align: 'center'
                    }, {
                        fixed: 'right', title:'操作', align: 'center', width: 200, toolbar: '#barHash'
                    }
                ]
            ]
        });



        //操作栏监听
        table.on('tool(tIndex)',function(obj){
            if(obj.event === 'edit'){
                window.location.href ='#/aoogi/team/edit/'+obj.data.id;
            }else if(obj.event === 'read'){
                window.location.href ='#/aoogi/team/read/'+obj.data.id;
            }else if(obj.event === 'del'){
                layer.confirm('确认删除该团队成员？', {icon: 3, title:'提示'}, function(index){
                    $.post('/aoogi/team/'+obj.data.id,{'_method':'DELETE'},function(res){
                        layer.msg(res.msg);
                        table.reload('tableHash');
                    });
                    layer.close(index);
                });

            }
        });

    });
</script>


<style scoped>

</style>