<!-- footer -->
<footer class="footer">
    <div class="footer__main">
        <div class="row row-eq-height">
            <div class="col-8 col-sm-7 col-md-9 col-lg-3 ">
                <div class="footer__item"><a class="consult_logo" href="/home"><img src="/static/index/images/logo-white.png" alt=""/></a>
                    <p>专注于为企业提供信息化管理、应用、实施方案解决措施.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-4 col-xl-4 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                <div class="footer__item">

                    <!-- widget-text__widget -->
                    <section class="widget-text__widget widget">
                        <div class="widget-text__content">
                            <ul>
                                <li><i class="ti-map-alt"></i>安徽省 . 合肥市 . 包河区 加侨国际广场A座22层 </li>
                                <li><i class="ti-headphone-alt"></i>0551-8521 8563</li>
                                <li><i class="ti-email"></i>service@fangke.com</li>
                                <li><i class="ti-wordpress"></i>www.fangke.com</li>
                            </ul>
                        </div>
                    </section><!-- End / widget-text__widget -->

                </div>
            </div>

            <div class="col-md-4 col-lg-2 col-xl-2 ">
                <div class="footer__item">

                    <!-- form-sub -->
                    <div class="form-sub">
                        <h4 class="form-sub__title">官网公众号</h4>
                        <div class="form-code">
                            <img src="/static/index/images/qcode.png" alt="" />
                        </div>
                    </div><!-- End / form-sub -->

                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
                <div class="footer__item">
                    <a href="#" id="back-to-top">
                        <i class="fa fa-angle-up" aria-hidden="true"> </i><span>Back To Top</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">2019 &copy; Copyright 方科信息. All rights Reserved. </div>
</footer><!-- End / footer -->

</div>

<!-- Vendors-->
{load href="/static/index/vendors/_jquery/jquery.min.js" /}
{load href="/static/index/vendors/imagesloaded/imagesloaded.pkgd.js" /}
{load href="/static/index/vendors/isotope-layout/isotope.pkgd.js" /}
{load href="/static/index/vendors/jquery.countdown/jquery.countdown.min.js" /}
{load href="/static/index/vendors/jquery.countTo/jquery.countTo.min.js" /}
{load href="/static/index/vendors/jquery.countUp/jquery.countup.min.js" /}
{load href="/static/index/vendors/jquery.matchHeight/jquery.matchHeight.min.js" /}
{load href="/static/index/vendors/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js" /}
{load href="/static/index/vendors/magnific-popup/jquery.magnific-popup.min.js" /}
{load href="/static/index/vendors/masonry-layout/masonry.pkgd.js" /}
{load href="/static/index/vendors/owl.carousel/owl.carousel.js" /}
{load href="/static/index/vendors/jquery.waypoints/jquery.waypoints.min.js" /}
{load href="/static/index/vendors/menu/menu.min.js" /}
{load href="/static/index/vendors/smoothscroll/SmoothScroll.min.js" /}
<!-- App-->
{load href="/static/index/js/main.js" /}
</body>
</html>